:root {
  --black: #000000; 
  --blue: #4eafe7;
  --light_blue: #76b5c2; 
  --ocean_blue: #17109e; 
  --text_color: #000000; 
  --white: #ffffff; 
  --max-width: 1200px; 
}


body {
  min-height: 100vh; /* Minimum height of viewport */
  font-family: "Sour Gummy", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  
}


a {
  text-decoration: none; 
}

nav {
  display: flex;
  width: 210px;
  height: 600px;
  position: fixed;
  top: 0;
  left: 10px;
  background-color: var(--white);
  z-index: 100;
  border-radius: 20px;
  z-index: 5;
}

.nav_content {
  margin: 20px;
  padding: 2 rem 1 rem;
}

nav .my_logo a {
  font-size: 2rem;
  font-weight: 700;
  color: var(--black);
  transition: 0.3s;
}

nav .my_logo a:hover {
  color: var(--light_blue);
}
.my_logo {
  display: flex;
  align-items: center;
  margin-top: 5px;
  margin-bottom: 10px;
  margin-left: 33px;
}


.container {
  background-color: var(--black);
}
.home {
  background: var(--black);
  border-radius: 30px;
  height: 50px;
  display: flex;
  align-items: center;
  margin-top: 40px;
  margin-bottom: 18px;

}

.home a {
  font-size: 1.1 rem;
  text-decoration: none;
  font-weight: 600;
  color: var(--white);
  transition: 0.3s;
}

.home a:hover {
  border-bottom-color: var(--ocean_blue);
  color: var(--light_blue);
}

.home img {
  width: 36px;
  margin-right: 30px;
  margin-left: 10px;
  margin-top: 1px;
  
}

  .level-selector {
    position: relative;
    padding: 5rem 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
  }
  
  /* Connecting line */
  .level-selector::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    height: 2px;
    background-color: #4A2B4D;
  }
  
  .level-button {
    width: 4rem;
    height: 4rem;
    transform: rotate(45deg);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.3s;
    position: relative;
    z-index: 1;
  }
  
  .level-button span {
    transform: rotate(-45deg);
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  .level-active {
    background-color: white;
    border: 2px solid #E99C4D;
  }
  
  .level-completed {
    background-color: #E99C4D;
  }
  
  .level-locked {
    background-color: #4A2B4D;
    cursor: not-allowed;
  }
